{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="content">
		<div class="small-column m-auto">
			<h3 class="title">{{ order.name }}</h3>
			<p class="order-status">{{ order.status }}</p>
			<p class="big-text">{{ order.description }}</p>
			<p>Расчетная стоимость: {{ order.price }} руб.</p>
			{% if order.status == 'В работе' %}
				<a href="{% url 'complete_order' order.id %}">Завершить работу над заказом</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}