{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="column">
				<h3 class="title">{{ order.name }}</h3>
				<p class="text-justify">{{ order.description }}</p>

				{% if order.status == 'В обработке' %}
				<form method="POST">
					{% csrf_token %}
					<label>Цена: </label>
					<input type="number" min="0" max="99999" step=".01" name="price">
					<input type="submit" value="Взять заказ">
				</form>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}