{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<title>{{ title }}</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="nav">
				<ul class="menu">
					<li><a href="/"><img src="{% static 'img/logo.png' %}" alt="it's image" class='img-logo'></a></li>
					<li class="home-link"><a href="/">На главную</a></li>
				</ul>

				{% if request.user.is_authenticated and request.user.is_staff %}
				<ul class="menu">
					<li><a href="{% url 'employee_orders' %}">Заказы</a></li>
					<li><a href="">Выполненные заказы</a></li>
				</ul>
				{% elif request.user.is_authenticated and not request.user.is_staff %}
				<ul class="menu">
					<li><a href="{% url 'user_account_page' %}">Сделать заказ</a></li>
					<li><a href="{% url 'add_comment_page' %}">Оставить комментарий</a></li>
				</ul>
				{% endif %}

				<ul class="menu">
					{% if request.user.is_authenticated %}
					<li><a href="{% url 'user_account_page' %}">Ваш аккаунт</a></li>
					<li><a href="{% url 'user_logout' %}">Выход</a></li>
					{% else %}
					<li><a href="{% url 'register_page' %}">Регистрация</a></li>
					<li><a href="{% url 'login_page' %}">Вход</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</header>

	<div class="wrapper">
		{% block content %}
		<div class="container">
			<div class="content">
				<div class="column">
					<h2 class="title">О нас</h2>
				</div>
			</div>
			<div class="content">
				<div class="column">
					<h3 class="title">Чем мы занимаемся?</h3>
					<p class="text">
						Наша компания занимается разработкой разного рода приложений под заказ. Быстро, качественно, не дорого.
					</p>
				</div>

				<div class="column">
					<h3 class="title">Как сделать заказ?</h3>
					<p class="text">
						Вы можете зарегистрироваться на нашем сайте и оставить заявку, либо прийти в нашу компанию. Статус вашей заявки вы можете посмотреть на сайте, в вашем профиле.
					</p>
				</div>

				<div class="column">
					<h3 class="title">Почему именно мы?</h3>
					<p class="text">
						Наши сотрудники работают непокладая рук, что бы сделать ваш проект как можно быстрее, дешевле и качественнее.
					</p>
				</div>
			</div>
			<div>
				<a href="{% url 'register_page' %}"></a>
			</div>
		</div>
		{% endblock %}
	</div>

	<footer class="footer">
		<div class="container">
			<div class="nav">
				<a href="/"><img src="{% static 'img/logo.png' %}" alt="it's image" class='img-logo'></a>

				{% if not request.user.is_staff %}
				<ul class="menu">
					<li>Наша почта: forexample@email.com</li>
					<li>Наш телефон: +7 (123) 456 78 90</li>
				</ul>
				{% endif %}
				<a href="{% url 'comments_page' %}">Озывы</a>
			</div>
		</div>
	</footer>
</body>
</html>