@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

html, body {
	height: 100%;
	font-family: 'Montserrat';
	font-stretch: 600;
}

a {
	text-decoration: none;
	font-size: 22px;
}

header, footer {
	background-color: steelblue;
}

footer {
	flex-shrink: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

.wrapper {
	flex: 1 0 auto;
}

.img-logo {
	width: 100px;
	height: 75px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-link {
	align-self: center;
}

.menu {
	display: flex;
}

.menu > li {
	padding: 0 5px;
}

.content {
	display: flex;
}

.column {
	width: 100%;
	padding: 0 1em;
}

.small-column {
	width: 40%;
	padding: 0 1em;

	align-self: center;
}

.title {
	text-align: center;
	margin: 1em 0 2em 0;
}

.text-center {
	text-align: center;
}

.text {
	text-align: justify;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-item > input, textarea {
	width: 100%;
}

.m-auto {
	margin: 0 auto;
}

.submit-btn {
	width: 100%;
}

.field-error {
	color: red;
	font-size: 12px;
}

.empty {
	margin-bottom: 1em;
}

.info-table {
	border: 1px solid black;
}

.info-table > tbody > tr {
	margin-bottom: 1em;
}

.info-table > tbody > tr > td {
	padding: 1em;
}

.border-bottom {
	border-bottom: 1px solid black;
	padding-top: 1em;
	padding-bottom: 1em;
}

.empty-border {
	border-left: 1px solid black;
}

.big-text {
	line-height: 1.5em;
}

.width-50 {
	width: 50%;
}

.content-wrap {
	display: flex;
	flex-wrap: wrap;
}

.column-wrap {
	flex-grow: 1;
	margin: 0 1em 2em 1em;
	flex: 1 1 0;
}