@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	background-color: lightgray;
}

html, body {
	height: 100%;
	font-family: 'Montserrat';
	font-stretch: 600;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 22px;
}

a:link, a:visited {
	color: darkblue;
}
/*Шапка и футер-------------------------------------------------------*/
header, footer {
	background-color: steelblue;
}

.img-logo {
	width: 100px;
	height: 75px;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu {
	display: flex;
}

.menu > li {
	padding: 0 5px;
}

.home-link {
	align-self: center;
}
/*--------------------------------------------------------------------*/

/*Основная часть------------------------------------------------------*/
.wrapper {
	flex: 1 0 auto;
}

.container {
	margin: 0 auto;
	width: 80%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column {
	min-width: 30%;
	max-width: 100%;
	margin: 0 1em 2em 1em;
	flex: 1 1 0;
}

.title {
	text-align: center;

	margin-top: 3em;
	margin-bottom: 2em;
}

.text-justify {
	text-align: justify;
	margin-bottom: 1em;
}
/*--------------------------------------------------------------------*/

/*Профиль-------------------------------------------------------------*/
.column-profile {
	width: 50%;
}

.column-profile > table {
	font-size: 1.2em;
	margin: 0 auto;

	border: 1px solid black;
}

.column-profile > table > tbody > tr > td {
	padding: 1em;
}

.column-nowrap {
	width: 100%;
	margin: 0 1em 2em 1em;
}

/*--------------------------------------------------------------------*/

/*Комментарии---------------------------------------------------------*/
.title-comment {
	margin-bottom: 1em;
}
/*--------------------------------------------------------------------*/

/*Форма---------------------------------------------------------------*/
form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}

form > input {
	width: 250px;
	height: 1.5em;
	margin-bottom: 1em;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1.2em;
	text-align: center;

	border: 2px solid steelblue;
	border-radius: 100px;

	transition-duration: 0.25s;
}

form > input[type="submit"] {
	border: 2px solid limegreen;
}

form > input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
	width: 120%;
	border-color: limegreen;
}

form > input[type="submit"]:hover {
	background-color: limegreen;
}

.form-base, .form-field > input, textarea {
	font-size: 20px;
}

.form-content, .form > form {
	height: 90%;
}

.form-content > .form {
	height: 100%;
}

.form-label, .form-field, .form-field > textarea {
	width: 100%;
}

.form-field > input {
	width: 50%;
}

.form-field {
	margin-bottom: 1.5em;
}

.error {
	text-align: center;
	font-size: 1.5em;
	color: red;
}