{% extends '../base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="column-profile">
			<h3 class="title">Ваш профиль</h3>
			<table>
				<tbody>
					<tr>
						<td>Логин:</td>
						<td>{{ request.user.login }}</td>
					</tr>
					<tr>
						<td>Пароль:</td>
						<td>{{ request.user.password }}</td>
					</tr>
					<tr>
						<td>Имя:</td>
						<td>{{ user.first_name }}</td>
					</tr>
					<tr>
						<td>Фамилия:</td>
						<td>{{ user.second_name }}</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<td>Телефон:</td>
						<td>{{ user.phone }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<h2 class="title">Заказы</h2>
			<div class="row">
				{% if orders == '' %}
					<h3 >Вы не делали заказов</h3>
				{% else %}
					{% for o in orders %}
						<div class="column-nowrap">
							<h3>{{ o.status }}</h3>
							<p class="text-justify">{{ o.description }}</p>
							{% if o.status == 'Ждет подтверждения' %}
								<p>Стоимость: {{ o.price }}</p>
								<a href="{% url 'confirm_order' o.id %}">Подтвердить заказ</a>
							{% endif %}
							{% if o.status != 'В работе' %}
								<a href="{% url 'delete_order' o.id %}">Удалить заказ</a>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="column">
			<h2 class="title">Комментарии</h2>
			
			<div class="row">
				{% if comments == '' %}
					<h3>Вы не оставляли комментариев</h4>
				{% else %}
					{% for c in comments %}
						<div class="column-nowrap">
							<h3>{{ c.title }}</h4>
							<p class="text-justify">{{ c.description }}</p>
						</div>
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}